body{
    background-color: white;
}
body::after {
    content: "";
    position: absolute;
    background: #f0f0f5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 16rem;
    z-index: -1;
}

#page-search-results {
    width: 90%;
    max-width: 1100px;
    /*padrao de alinhamento de caixa(pelo lado de fora da caixa)*/
    margin: 0 auto;
}

#page-search-results header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-search-results header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-search-results header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    display: flex;
    width: 20px;
    height: 24px;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    /*32px*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

.items-grid li span {
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.items-grid li.selected {
    background: #e1faec;
    border: 2px solid #3dcb79;
}

.items-grid li img,
.items-grid li span {
    pointer-events: none;
}

main {
    margin: 48px;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
}

main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

main .card img {
    width: 100%;
    height: 175px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

main .card h1 {
    margin-top: 32px;
    font-size: 36px;
    line-height: 41px;
    color: #322153;
}

main .card h3 {
    margin: 24px 0;
    bottom: 48px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    /* ou 142%*/
    /* Greenpeace*/
    color: #34cb79;
}